canvas { 
    width: 100%; 
    height: 100% 
}

* {
    box-sizing: border-box;
}
        
body {
    margin: 0; 
    font-family: 'Lato', sans-serif;
    line-height: 160%;
    font-weight: 400;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    line-height: 110%;
    font-weight: 300;
    margin-bottom: 1em;
}

h3 {
    color: #ff1928;
    text-transform: uppercase;
}

h4 {
    color: #fff;
}

h2, h3, h4 {
    margin-top: 1.2em;
}

h5 {
    font-weight: 700;
}

a, a:hover, a:active, a:visited {
    color: #00B2FC;
}

a:visited {
    text-decoration: none;
}

pre {
    padding: .85em 1em .8em 1em;
    background: none;
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, .04);
}
                
.fa-li {
    line-height: 130%;
}

h1.page-header {
    font-size: 3.2em; 
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

hr {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(255, 25, 40, .65);
    -moz-box-shadow: 0px 0px 14px 2px rgba(255, 25, 40, .65);
    box-shadow: 0px 0px 14px 2px rgba(255, 25, 40, .65);
    border-color: #ffa928;
    margin: .7em 0;
}

h2 .fa {
    margin-right: .1em;
}

#main {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

#overlay {
    border-right: 1px solid rgba(255, 255, 255, .07); 
    position: fixed; 
    opacity: .8; 
    background: #000; 
    top: 0; 
    left: 0; 
    width: 43%; 
    min-width: 300px;
    height: 100%;
}

#switch {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    font-size: 1.5em;
}

#switch-on, #switch-off {
    cursor: pointer;
}

#switch-on {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-wrapper {
    width: 43%; 
    min-width: 300px;
    position: absolute; 
    color: #fff; 
    top: 0; 
    left: 0; 
    padding: 2em 3.5em;
}

.intro-items {
    margin-bottom: 4em;
    font-weight: 700;
}
